connectionUrl={{ teamcity_server_db_url }}
connectionProperties.user={{ teamcity_server_db_user }}
connectionProperties.password={{ teamcity_server_db_password }}

maxConnections={{ teamcity_server_db_max_connections }}

testOnBorrow=false
